<div>
  I got yo link right here!
  <span id="copy-link">
    <% lookup_href = "#{request.host_with_port}/#{@lookup.token}" %>
    <%= link_to(lookup_href, lookup_href, id: 'lookup-link') %>
  </span>
  <button data-clipboard-target='lookup-link' id='copy-button'>Click to copy link</button>
</div>

<div>
  <strong>Links to:</strong>
  <%= link_to(@lookup.url, @lookup.url) %>
</div>

<%= link_to 'Make another?', root_path %>

<script>
$(document).ready(function() {
  var clip = new ZeroClipboard($("#copy-button"));
});
</script>